<div *ngIf="toDos !== undefined" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <b>{{nameTask}}</b>
    </div>
    <div class="col-xs-12 col-sm-3">
      <b>{{statusTask}}</b>
    </div>
    <div class="col-xs-12 col-sm-3">
      <b>{{startTask}}</b>
    </div>
    <div class="col-xs-12 col-sm-3">
      <b>{{endTask}}</b>
    </div>
  </div>
  <div *ngFor="let task of toDos">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <a href="/todo/{{task.id}}">{{task.name}}</a>
      </div>
      <div class="col-xs-12 col-sm-3">
        {{task.status | status}}
      </div>
      <div class="col-xs-12 col-sm-3">
        {{task.startDate | date: 'dd/MM/yyyy'}}
      </div>
      <div class="col-xs-12 col-sm-3" *ngIf="task.endDate !== undefined">
        {{task.endDate | date: 'dd/MM/yyyy'}}
      </div>
    </div>
  </div>
</div>